/* ESTO ES UN COMENTARIO DE CSS PURO */
ul {
  text-align: center;
  color: white li;
    color-padding: 50px;
    color-font-family: Verdana, Geneva, Tahoma, sans-serif;
    color-font-size: 18px;
    color-text-align: center;
    color-list-style-type: none;
    color-list-style-position: inside;
    color-color: #c07a1f;
    color-display: inline-block; }
