/* ESTO ES UN COMENTARIO DE CSS PURO */
ul {
  text-align: center;
  color: white; }
  ul li {
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    color: #c07a1f;
    display: inline-block; }
