/* ESTO ES UN COMENTARIO DE CSS PURO */

$centrado: center;

ul {
    text-align: $centrado;
    color: white;
            li{
                padding: 50px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 18px;
                text-align: $centrado;
                list-style-type: none;
                list-style-position: inside;
                color: rgb(192, 122, 31);
                display: inline-block;
        }
}

/* MAPA */
$colores:(
    facebook: blue,
    instagram: violet,
    twitter: lightblue,
    youtube: red,
);

/* EACH */
@each $name-color, $color in $colores{
    .redes-#{$name-color}{
        color: $color;
        border: $color;
    }
}

/* Extend */
.red{
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Verdana, Geneva, Tahoma, sans-serif;
}

.redDos{
    @extend.red;
    color:rgb(143, 44, 209)
}

/* Mixin */
@mixin tamanio ($ancho, $altura){
    width: $ancho;
    height: $altura;
}

img{
    @include tamanio(575px, 500px)
}

.logo{
    @include tamanio(75px, 75px)
}