*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    padding: 0px !important;
}

/* #region Header */
    .headerContenedor{
        display: flex;
        flex-direction: column;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 20px;
    }

    .tituloContenedor{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
    }

    .titulo{
        margin-left: 10px;
        color: #000000;
    }

    #hambButton{
        width: 55px;
        height: 55px;
    }

    #closeButton{
        width: 30px;
        height: 30px;
    }

    .menuContenedor{
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        right: 0px;
        width: auto;
        height: auto;
        background: #FFFFFF;
        box-shadow: -10px 0px 10px 1px rgba(170, 170, 170, 0.075);
        z-index: 999;
    }

    .lista{
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .lista li:hover{
        background-color: #00000015;
    }

    .lista li.liSeleccionado{
        background: #00b7ff7c;
    }

    .listaNav{
        color: #000000;
        font-size: 20px;
        text-decoration: none;
        margin: 10px 20px 10px 20px;
    }

    .listaNav:hover{
        color: #000000;
    }
/* #endregion */

/* GRIDS */

#nosotros {
    display: grid;
    grid-template-columns: 450px 600px;
}
.fondo{
    background-image: linear-gradient(lightblue, cadetblue, rgb(104, 194, 197));
    padding: 0px 70px 0px 70px;
}
.card{
    display: grid;
    grid-template-columns: 275px 450px;
}

.logo{
        width: 75px;
        height: 75px;
}

h2{
    padding: 10px;
    text-decoration: underline;
    color: rgba(5, 7, 12, 0.719)
}

img{
    width: 575px;
    height: 500px;
}

.lorem{
    width: 300px;
    padding: 20px;
    color: black;
    font-family:cursive;
    font-size: 20px;
    text-align: left;
}

fieldset{
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}
legend{
    margin-left: 30px;
    font-size: 22px;
    font-weight: bold;
}

/* footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
}

.txtFooter{
    display: block;
    margin: 0px 20px 0px 20px;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.textoRedes{
    font-size: 20px;
    text-decoration: underline;
    cursor: default;
}

.red{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin: 0px 0px 0px 5px;
    color: black;
}
.red span{
    margin: 0px 0px 0px 5px;
}

.red:hover{
    text-decoration: underline;
}

.imgRedes{
    width: 30px;
    height: 30px;
}

.card-title, .card-text{
    text-align: left;
    text-decoration: underline;
    font-size: 25px;
    color: black;
}

.card-text{
    text-decoration: none;
}

.btn{
    font-size: 20px;
    text-decoration: solid;
}
.form-control{
    width: 80%;
}

.form-select{
    width: 10%;
}
 /*SMARTPHONE*/

@media (max-width: 480px){

    .titulo{
        display: none;
    }

    #nosotros{
        display: grid;
        grid-template-columns: 300px;
    }
    img{
        width: 250px;
        height: 200px;
    }
    .card{
        display: grid;
        grid-template-columns: 75px 250px;
    }

    footer{
        flex-direction: column;
    }

    .redes{
        flex-direction: column;
    }
}


/* TABLET */

@media (min-width: 481px) and (max-width: 1023px) {
    #nosotros {
        display: grid;
        grid-template-columns: 400px;
    }
    img{
        width: 400px;
        height: 350px;
    }
    .card{
        display: grid;
        grid-template-columns: 150px 300px;
    }

    footer{
        flex-direction: column;
    }
}

/*animaciones*/

h2{
    animation-name: animado;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0s;
}

/*keyframe*/
@keyframes animado {
    from{ 
        transform: translateX(-1280px)
    }
    to{
        transform: translateX(0)
    }
}