*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*sintaxis de css
selector{
    propiedad:valor;

}*/


body{
    background-color: cadetblue;
}

header {
    background-color: rgb(31, 112, 233);
    background-image: linear-gradient(to right, blue, rgb(15, 118, 153), lightblue);
}

h1{
    color: white;
    font-style: italic;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul{
    text-align: center;
    color: white
}

/* GRIDS */

#nosotros {
    display: grid;
    grid-template-columns: 450px 600px;
    background-image: linear-gradient(lightblue, cadetblue, rgb(104, 194, 197));
}

/* lista nav*/

.listaNav{
        color: white;
}

li{
        padding: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        text-align: center;
        list-style-type: none;
        list-style-position: inside;
        color: rgb(192, 122, 31);
        display: inline-block;
}

.logo{
        width: 75px;
        height: 75px;
}

h2{
    padding: 10px;
    text-decoration: underline;
    background-color: rgb(120, 120, 240);
    color: rgba(11, 81, 230, 0.719)
}

img{
    width: 575px;
    height: 500px;
}

.faq{
        color: white;
        margin-right: 49px;
}

.lorem{
    width: 300px;
    padding: 20px;
    color: black;
    font-family:cursive;
    font-size: 20px;
    text-align: left;
}

fieldset{
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}
legend{
    margin-left: 30px;
    font-size: 22px;
    font-weight: bold;
}

/* footer */

footer{
    background-color:rgb(31, 112, 233)
}

h3{
text-align: center;
text-decoration: underline; 
color: black;
}

.listaFooter{
    display: inline-block;
    text-align: center;
    color: whitesmoke
}

.imgRedes{
    width: 30px;
    height: 30px;
}

p{
text-align: center;
color: whitesmoke;
}

.card-title, .card-text{
    text-align: left;
    text-decoration: underline;
    font-size: 25px;
    color: black;
}

.card-text{
    text-decoration: none;
}

.btn{
    font-size: 20px;
    text-decoration: solid;
}
.form-control{
    width: 80%;
}

.form-select{
    width: 10%;
}
 /*SMARTPHONE*/

@media (max-width: 480px){

    #nosotros{
        display: grid;
        grid-template-columns: 300px;
    }
    img{
        width: 250px;
        height: 200px;
    }
}

/* TABLET */

@media (min-width: 481px) and (max-width: 1023px) {
    #nosotros {
        display: grid;
        grid-template-columns: 400px;
    }
    img{
        width: 400px;
        height: 350px;
    }
}

/*transiciones*/

h1 {
    transition: 2s;
}

h1:hover{
    color: black;
}

.listaNav:hover{
    color:black
}

.logo {
    transition: 1s;
}

.logo:hover{
    height: 150px;
    width: 150px;
}

.imgRedes{
    transition: 1s;
}

.imgRedes:hover{
    height: 50px;
    width: 50px;
}

/*animaciones*/
h1{
    animation-name: animado;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-delay: 0s;
}

h2{
    animation-name: animado;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-delay: 0s;
}

/*keyframe*/
@keyframes animado {
    from{ 
        transform: translateX(-1280px)
    }
    to{
        transform: translateX(0)
    }
}